.Page404 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-attachment: fixed;
  background-image: url("../../../public/grün.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Page404 > div {
  width: 90%;
  max-width: 1024px;
  margin: 10% auto;
  background-color: var(--beige-transparent-color);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
  align-items: center;
  padding: 10% 2%;
  box-shadow: 0 0 3rem red, 0 0 2rem white;
  transition: width 1s ease-in, padding-top 1s ease-in;
}

.Page404 > div > div {
  color: var(--dark-green-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Page404 .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Page404 img {
  width: 100%;
  transition: width 1s ease-in;
}

.Page404 h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  transition: font-size 1s ease-in, line-height 1s ease-in;
}

.Page404 span {
    font-size: 1.75rem;
    transition: font-size 1s ease-in;
}

.Page404 .button-green {
    width: 100%;
    text-align: center;
    box-shadow: 0 0 1rem var(--dark-green-color);
}

@media screen and (max-width: 767px) {
    .Page404 > div {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 5%;
    }

    .Page404 h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .Page404 img {
        width: 60%;
      }

      .Page404 span {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .Page404 h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }
}