.SearchedEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FoundEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  transition: width 1s ease-in;
}

.SearchedEvents h2 {
  color: var(--dark-green-color);
  font-size: 2.5rem;
  background-color: var(--beige-color);
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  border: 2px solid var(--middle-green-color);
  border-bottom: none;
  transition: font-size 1s ease-in;
}

.SearchedEvents .box h3 {
  font-size: 1.5rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 1.5rem;
  transition: margin-top 1s ease-in, line-height 1s ease-in;
}

.box h4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1rem;
}

.SearchedEvents .box img {
  width: 300px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  margin: 0;
  border-radius: 0.75rem;
  object-fit: cover;
  transition: width 1s ease-in, height 1s ease-in;
}

.SearchedEvents ul {
  width: 100%;
  list-style-type: none;
  display: block;
  gap: 1rem;
  background-color: var(--beige-transparent-color);
  padding-bottom: 1rem;
  max-height: 800px;
  overflow-y: scroll;
  border: 2px solid var(--middle-green-color);
  transition: max-height 1s ease-in;
}

.SearchedEvents .box {
  position: relative;
  height: 250px;
  width: 95%;
  border-radius: 1rem;
  background-color: var(--beige-transparent-color);
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1rem auto;
  box-shadow: 0 0 1rem var(--dark-green-color);
  column-gap: 1rem;
  padding: 1rem;
  transition: padding 1s ease-in, column-gap 1s ease-in, height 1s ease-in,
    grid-template-columns 1s ease-in;
}

.box > div {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-content: center;
  width: 100%;
}
.box > .expired {
  position: absolute;
  padding: 50px 25px;
  width: max-content;
  height: 50px;
  top: -70px;
  right: 160px;
  color: var(--beige-color);
  background-color: var(--dark-transparent-color);
  border-radius: 1rem;
  z-index: 1;
  transform: rotate(-20deg);
  font-size: 1.5rem;
  font-weight: bold;
  transition: padding 1s ease-in, bottom 1s ease-in, right 1s ease-in, transform 1s ease-in, font-size 1s ease-in, width 1s ease-in;
}

.box > div > .button-green:hover {
  background-color: var(--dark-green-color);
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  .FoundEvents {
    width: 95%;
  }

  .SearchedEvents h2 {
    font-size: 1.75rem;
  }

  .SearchedEvents .box {
    padding: 0.5rem;
    column-gap: 0.25rem;
    height: 200px;
    grid-template-columns: 40% 60%;
  }

  .SearchedEvents .box h3 {
    margin-top: 0;
    line-height: 1.75rem;
  }

  .SearchedEvents .box > img {
    width: 100% !important;
    height: 100%;
  }

  .SearchedEvents ul {
    max-height: 650px;
  }

  .box > .expired {
    padding: 20px 20px !important;
    width: 100% !important;
    bottom: -30%;
    right: 0% !important;
    transform: rotate(-20deg) !important;
    font-size: 1rem !important;
  }
}
