.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.Home > .create {
  width: 80%;
  background-color: var(--beige-transparent-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
  color: var(--dark-green-color);
  transition: width 1s ease-in;
}

.Home > .create h2 {
  width: 80%;
  text-align: center;
  font-size: 3rem;
  transition: font-size 1s ease-in;
}

@media screen and (max-width: 767px) {
  .Home > .create h2 {
    font-size: 1.5rem;
  }

  .Home > .create {
    width: 95%;
  }
}

@media screen and (min-width:1024px){
  .Home > .create {
    width: 900px;
  }
}