textarea {
  resize: none;
}

.EventForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

#upload #image {
  position: absolute;
  visibility: hidden;
}

.EventForm h1 {
  background-color: var(--dark-transparent-color);
  color: var(--beige-color);
  text-align: center;
  font-size: 3rem;
  width: 100%;
}

.EventForm form {
  font-size: 1.75rem;
  background-color: var(--beige-transparent-color);
  width: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 1.5rem 2rem 2rem 2rem;
}

.EventForm label,
.EventForm fieldset {
  width: 100%;
}

.EventForm fieldset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 0.5rem;
  border: none;
  padding: 2rem 0.5rem 1rem 0.5rem;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 0.5rem var(--middle-green-color);
  position: relative;
}

.EventForm  fieldset legend {
  position: relative;
  top: 1.75rem;
  left: 0.5rem;
}

.EventForm fieldset .button-beige,
.EventForm fieldset  .button-dark-green {
  font-size: 1.75rem;
  padding: 0.5rem 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventForm input[type="text"],
.EventForm input[type="date"],
.EventForm input[type="time"],
.EventForm input[type="number"],
.EventForm input[type="currency"],
.EventForm textarea {
  font-size: 1.75rem;
  font-family: "Poppins", "Kanit";
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--beige-color);
  padding-left: 0.75rem;
  border-color: var(--middle-green-color);
  color: var(--dark-green-color);
}

.EventForm textarea {
  height: 30vh;
  padding-top: 0.25rem;
}

.EventForm input[type="checkbox"]{
  position: absolute;
  opacity: 0;
}
.EventForm input::placeholder {
  font-family: "Poppins", "Kanit";
  color: var(--dark-transparent-color);
}

.EventForm #upload {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.EventForm form span {
  width: 100%;
  display: flex;
  justify-content: center;
}

.EventForm form span .button-green {
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (max-width: 767px) {
  .EventForm .button-green {
    font-size: 2rem;
  }
}

/*

#categoryChecks {
  width: 100%;
  display: grid;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 1.5px 1.5px var(--dark-green-color);
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

#categoryChecks > .checks {
  display: flex;
  flex-direction: row;
  position: relative;
}

#formWrapper .checks label {
  display: flex;
  justify-content: center;
  align-items: center;
}

#formWrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

#upload label {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}

#formWrapper #Green-Special {
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--middle-green-color);
  color: var(--beige-color);
  border: 2px solid var(--dark-green-color);
  box-shadow: none;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
}

#formWrapper #Green-Special:hover {
  background-color: var(--dark-green-color);
  font-weight: bolder;
}

@media screen and (max-width: 1080px) {
  .EventForm {
    width: 100%;
  }
  #formWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    padding-bottom: 1rem;
  }
  #eventFormH1 {
    font-size: 2rem;
  }
}
 */