* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 3rem;
  font-family: lora;
  color: rgb(29, 59, 44);
  background-image: url("../public/grün.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
