.Search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Search > div {
  width: 80%;
  background-color: var(--beige-transparent-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
  color: var(--dark-green-color);
  box-shadow: 0 0 1rem var(--dark-color);
  transition: width 1s ease-in;
}

.SearchedEvents .Search > div {
  width: 700px;
}

.Search h1 {
  max-width: 80%;
  text-align: center;
  font-size: 3rem;
  transition: font-size 1s ease-in;
}

.Search p {
  font-size: 2rem;
  transition: font-size 1s ease-in;
  text-align: center;
}

.Search form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Search form input:first-child {
  height: 3rem;
  width: 100%;
  max-width: 400px;
  background-color: var(--beige-color);
  border-color: var(--middle-green-color);
  border-radius: 0.75rem;
  font-size: 2rem;
  padding-left: 0.5rem;
  transition: height 1s ease-in;
  transition: font-size 1s ease-in;
  transition: max-width 1s ease-in;
}

.Search form input:first-child::placeholder {
  color: var(--dark-green-color);
  margin-left: 0.5rem;
}

.Search form input:first-child:focus {
  border: none;
  outline: 3px solid var(--middle-green-color);
}

#UserProfile .Search > div .SearchedEvents .Search > div {
  align-items: flex-start;
  padding: 1rem 2rem;
  width: 100%;
  gap: 0;
  transition: padding 1s ease-in;
}

#UserProfile .Search,
.SearchedEvents .Search {
  align-items: center;
  justify-content: center;
}

#UserProfile .Search > div > h1,
.SearchedEvents .Search > div > h1 {
  max-width: 100%;
  width: 100%;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 5px;
  transition: font-size 1s ease-in, margin-bottom 1s ease-in;
}

#UserProfile .Search > div > p {
  font-size: 1.75rem;
  color: var(--middle-green-color);
  transition: font-size 1s ease-in, line-height 1s ease-in;
}

#UserProfile .Search > div > form,
.SearchedEvents .Search > div > form {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 64% 34%;
  gap: 2%;
  margin-top: -5px;
  transition: margin-top 1s ease-in, grid-template-columns 1s ease-in;
}

#UserProfile .Search form input:last-child,
.SearchedEvents .Search form input:last-child {
  padding: 0.4rem;
  transition: max-width 1s ease-in;
}

@media screen and (max-width: 767px) {
  .SearchedEvents > .Search > div {
    width: 95%;
  }

  .Search h1 {
    font-size: 1.5rem;
  }

  .Search p {
    font-size: 1.25rem;
  }

  .Search form input:first-child {
    max-width: 250px;
    height: 2.5rem;
    font-size: 1.25rem;
  }

  .Search > div {
    width: 95%;
  }

  #UserProfile .Search > div,
  .SearchedEvents .Search > div {
    padding: 1rem;
  }

  #UserProfile .Search > div > h1,
  .SearchedEvents .Search > div > h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  #UserProfile .Search > div > p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  #UserProfile .Search > div > form,
  .SearchedEvents .Search > div > form {
    margin-top: 0;
    grid-template-columns: 49% 49%;
  }

  #UserProfile .Search > div > form > input:first-child,
  .SearchedEvents .Search > div > form > input:first-child {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .Search > div {
    width: 900px;
  }

  .SearchedEvents .Search > div {
    width: 900px;
  }

  .SearchedEvents .Search > div > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .SearchedEvents .Search > div > form .button-green {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
